body, html {
    height: 100%;
}

body {
    padding-top: 35px;
}

.banner {
    top: 0;
    position: fixed;
    background-color: rgb(59,89,152);
    width: 100%;
    color: white;
    height: 43px;
    display: flex;
}

.fb-icon {
    size: fixed;
    margin: 5px 0 5px 5px;
    display: inline;
}

.search-bar {
    margin: 7px 0 0px 15px;
    height: 25px;
    width: 35%;
    display: inline;
    font-size: 14px;
}

.profile-image {
    height: 30px;
    margin: 7px 5px 5px 25%;
}

.profile-button {
    display: inline;
    padding: 12px 7px;
    text-align: left;
    font-family: sans-serif;
    font-size: 13px;
    
}

.divider-line {
    height: 30px;
    margin-top: 5px;
}

.profile-button:hover {
    background:rgb(53,80,137);
}

.newsfeed-home-button {
    display: inline;
    padding: 12px 0 12px 7px;
    text-align: left;
    font-family: sans-serif;
    font-size: 13px;
}

.newsfeed-home-button:hover {
    background:rgb(53,80,137);
}

.friends-tab {
    height: 25px;
    margin: 10px 20px;
}

.main {
    display:flex;
    background: rgb(233,235,238);
    width: 100%;
    height: 100%;
}

.left-column {
    width: 15%;
    height: 100%;
}

.news-feed {
    width: 45%;
    border: 1px solid black;
    display: inline-block;
}

.right-column {
    width: 40%;
    border: 1px solid black;
    display: inline-block;
}

.options {
    list-style: none;
    padding: 0;
    line-height: 35px;
    width: 15%;
    position: fixed;

}

.option-item {
    text-align: left;
    border: 1px solid black;


}
.option-item:hover {
    background: white;
}

.option-icon {
    margin-top: 7px;
    margin-right: 5px;
    display: inline;
    float: left;
    clear: left;
}