body, html {
    height: 100%;
}

body {
    padding-top: 35px;
}

.banner {
    top: 0;
    position: fixed;
    background-color: rgb(59,89,152);
    width: 100%;
    color: white;
    height: 43px;
    display: flex;
}

.fb-icon {
    size: fixed;
    margin: 5px 0 5px 5px;
    display: inline;
}

.search-bar {
    margin: 7px 0 0px 15px;
    height: 25px;
    width: 35%;
    display: inline;
    font-size: 14px;
}

.profile-image {
    height: 30px;
    margin: 7px 5px 5px 25%;
}

.profile-button {
    display: inline;
    padding: 12px 7px;
    text-align: left;
    font-family: sans-serif;
    font-size: 13px;
    
}

.divider-line {
    height: 30px;
    margin-top: 5px;
}

.profile-button:hover {
    background:rgb(53,80,137);
}

.newsfeed-home-button {
    display: inline;
    padding: 12px 0 12px 7px;
    text-align: left;
    font-family: sans-serif;
    font-size: 13px;
}

.newsfeed-home-button:hover {
    background:rgb(53,80,137);
}

.friends-tab {
    height: 25px;
    margin: 10px 20px;
}

.main {
    display:flex;
    background: rgb(233,235,238);
    width: 100%;
    height: 100%;
}

.left-column {
    width: 15%;
    height: 100%;
}

.news-feed {
    width: 45%;
    display: inline-block;
}

.right-column {
    width: 40%;
    display: inline-block;
    flex: right;
}

.options {
    list-style: none;
    padding: 0;
    line-height: 35px;
    width: 15%;
    position: fixed;

}

.option-item {
    text-align: left;
    /*border: 1px solid black;*/
    font-size: 13px;
    margin-right: 15px;


}
.option-item:hover {
    background: white;
    border: .25px solid rgb(219,219,224);
}

.option-icon {
    margin-top: 7px;
    margin-right: 5px;
    display: inline;
    float: left;
    clear: left;
}

.poster-box {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border: .25px solid rgb(219,219,224);
}

.post-box {
    background: white;
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    margin-top: 0;
    background: rgb(245,246,248);
    padding-bottom: 5px;
    margin-bottom: 0;
}

.post-option {
    display: inline;
    margin-left: 0px;
    text-align: left;
    color: rgb(53,92,145);
    font-size: 12px;
    font-style: sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.post-icon {
    display: inline;
    margin-top: 4px;
    margin-left: 10px;
}

.status-box {
    background: white;
}

.profile-pic {
    width: 50px;
    padding: 10px;
}


.status-input {
    display: inline;
    vertical-align: 28px;
    height: 20px;
    width: 80%;
    border-style: none;
    font-size: 14px;
}

.weather-box {
    margin: 15px 5px;
    background: white;
    padding: 10px;
    border: .25px solid rgb(219,219,224);
}

#weather-greeting {
    margin-top: 0px;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
}

#weather-forecast {
    display: block;
    margin-left: 35px;
    text-align: left;
    font-size: 14px;
    flex: left;
    font-family: sans-serif;
    
}
/*
.rain-cloud {
    flex: right;
    margin-bottom: 0;
}*/

.newsfeed-content {
    margin: 15px 5px;
    background: white;
    padding: 10px;
    border: .25px solid rgb(219,219,224);
    font-family: sans-serif;
    font-size: 14px;
}

.author-name {
    vertical-align: 170%;
    color: rgb(51,79,145);
    font-family: sans-serif;
    align-content: center;
    font-weight: 600;
    margin-left: 10px;
}

.where {
    vertical-align: 170%;
}
.author-location {
    vertical-align: 170%;
    color: rgb(51,79,145);
    font-family: sans-serif;
}

.content {
    margin-left:70px;
}

.interaction-buttons {
    border-top: .25px solid rgb(219,219,224);
    margin-top: 10px;
}
.like {
    color: rgb(66, 70, 76);
    background: white;
    font-size: 12px;
    text-decoration: none;
    border: none;
}

.like:hover {
    text-decoration: underline;
}

.comment {
    color: rgb(66, 70, 76);
    background: white;
    font-size: 12px;
    text-decoration: none;
    border: none;
}

.comment:hover {
    text-decoration: underline;
}

.share {
    color: rgb(66, 70, 76);
    background: white;
    font-size: 12px;
    text-decoration: none;
    border: none;
}

.share:hover {
    text-decoration: underline;
}

.right-column {

}
.birthdays {
    margin: 10px 5px;
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    border: .25px solid rgb(219,219,224);
    font-family: sans-serif;
    font-size: 12px;
    max-width: 263px;
    text-align: left;
    vertical-align: 5px;
    
}

.birthday-image {
    margin-top: 3px;
}

.birthday-name {
    color: rgb(52, 79, 145);
}

.birthday-text {
    display: inline;
    vertical-align: 3px;
    margin-left: 5px;
}

.news {
    margin-left: 5px;
}